@{
    Layout = null;

}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <title>Chicago WEB</title>
</head>
<body>
    <div id="main"></div>
    <script src="~/Webpack_Bundle/main.bundle.js" type="text/javascript">
    </script>
</body>
</html>


